* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
   
    padding: 10px 0;

}
.logo{   
    height: 80px;
    width: 150px;
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;

}
nav {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
   
}

nav ul li {
    margin: 0 15px;
    
}

nav ul li a {
     color: #000000;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


